/* === GLOBAL STATIC SIDEBAR === */

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Sidebar styles */
.app-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* pushes logout to bottom */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* centers both horizontally */
  gap: 10px; /* space between image and text */
  margin-bottom: 30px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  font-size: 22px;
  font-weight: 600;
  background: linear-gradient(90deg, #ff758c, #ffb347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  top: 30px;
  gap:8px;
}

.nav-list li {
  padding: 16px 20px;
  margin-bottom: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #6c757d;
  display: block;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-list li a:hover {
  background-color: #d0e8e6;
  color: #00796b;
}
.nav-list li a.active {
  background-color: #d0e8e6;
  color: #6c757d;
}



/* Main content container */
.app-main {
  flex: 1;
  margin-left: 250px;
  background-color: #e6f2f1;
  padding: 40px;
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
/* .nav-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-top: 30px;
   } */
.logout-item {
  border: none;
  background: none;
  text-align: left;
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 60px;

}
.logout-item:hover {
  background-color: #d0e8e6;
  color: #00796b;
}
.nav-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   /* move nav items UP */
  padding-top: 10px;             /* adjust as you like */
}
.logo-placeholder {
  height: 80px;     /* same as logo height + margin */
  margin-bottom: 30px; 
}
